@tailwind base;
@tailwind components;
@tailwind utilities;




.slide {
    animation: slide .8s ease-in-out;
}


@keyframes slide {
    from {
        top:-400px
    }
    to {
        top: 0px;
    }
}